#h1tag{
font-size: 45;
font-style: italic;
font-family: 'Courier New', Courier, monospace;
font-size: medium;
}

#h4tag{
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}

